body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.superinfo-bg {
  background-color: #122ab2;
}

.superinfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.superinfo a {
  display: inline;
}

.superinfo a,
p {
  color: white;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

header {
  background-color: #2c70ff;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
  color: white;
}

.menu a:hover {
  color: wheat;
}

.menu h1 {
  color: white;
  margin-left: 165px;
  font-family: "Nunito", sans-serif;
}

.menu ul {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  margin-right: 130px;
}

.titulo {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  margin-left: 165px;
  position: relative;
  display: flex;
}

.titulo:after {
  content: "";
  width: 90%;
  height: 3px;
  position: absolute;
  background: #122ab2;
  align-self: flex-end;
  transform: translateY(50px);
}

main h2 {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  margin-left: 165px;
  margin-top: 120px;
}

.sobre-flex {
  display: flex;
  align-items: start;
  padding: 0px 130px;
  gap: 20px;
}

.sobre-flex p {
  display: flex;
  flex-direction: column;
  color: #989898;
  font-size: 1.5rem;
  text-justify: distribute;
  text-align: left;
  padding: 0px 45px;
}
